<section
  id="about"
  class="container mx-auto px-4 py-16 border-t border-gray-100"
>
  <div class="max-w-5xl mx-auto flex flex-col justify-center items-center">
    <p
      class="text-lg md:text-xl text-gray-500 max-w-2xl text-center leading-relaxed"
    >
      I'm a Software Engineer | Building Scalable & Responsive Web Applications
      | AI Engineer | AI Automation Expert.
    </p>
  </div>
</section>
