---
---
<div class="relative mt-8 w-64 h-64 md:w-80 md:h-80">
  <div class="absolute inset-0 bg-gray-100 rounded-full scale-125 z-[-1]"></div>
  
  <img
    src="/abhishekh.png" alt="Abhishek Ojha"
    class="relative z-10 w-full h-full object-cover"
  />
</div>