---

---

<div
  class="bg-white rounded-2xl p-4 shadow-lg w-full mt-4 lg:mt-auto lg:max-w-xs"
>
  <div class="flex items-center space-x-3">
    <div class="w-10 h-10 bg-gray-200 rounded-full flex-shrink-0">
      <img
        src="/profile.jpeg"
        alt="Abhishek Ojha"
        class="w-full h-full! object-cover rounded-full"
      />
    </div>
    <div>
      <p class="font-semibold text-gray-800">Abhishekh Ojha</p>
      <p class="text-sm text-gray-500 truncate max-w-[180px]">
        qabhishekh@gmail.com
      </p>
    </div>
  </div>
  <div class="mt-4 border-t border-gray-200 pt-4">
    <a
      href="mailto:qabhishekh@gmail.com"
      class="flex items-center justify-center w-full font-medium py-2 px-8 rounded-lg text-[var(--brand-dark)] bg-[var(--brand-light-trans)] shadow-md shadow-black/10 backdrop-blur-xs transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[var(--brand-dark)]"
    >
      Send an Email
    </a>
  </div>

  <!-- <div class="mt-4 border-t border-gray-200 pt-3">
    <form class="space-y-4">
      <div>
        <label for="subject" class="sr-only">Subject</label>
        <input
          type="text"
          id="subject"
          name="subject"
          placeholder="Subject"
          class="w-full border-0 border-b border-gray-200 p-1 text-sm focus:ring-0 outline-none focus:border-gray-400 transition-colors"
        />
      </div>
      <div>
        <label for="message" class="sr-only">Message</label>
        <textarea
          id="message"
          name="message"
          rows="3"
          placeholder="Your message..."
          class="w-full border-0 border-b border-gray-200 p-1 text-sm focus:ring-0 outline-none focus:border-gray-400 transition-colors resize-none"
        ></textarea>
      </div>
      <button
        type="submit"
        class="w-full font-medium py-2 px-8 rounded-lg text-[var(--brand-dark)] bg-[var(--brand-light-trans)] shadow-md shadow-black/10 backdrop-blur-xs transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[var(--brand-dark)]"
      >
        Send
      </button>
    </form>
  </div> -->
</div>
