---
import CentralImage from "./CentralImage.astro";
import LeftInfoBlock from "./LeftInfoBlock.astro";
import ContactCard from "./ContactCard.astro";
---

<section
  class="container text-left lg:h-screen flex flex-col items-center justify-between lg:overflow-hidden pt-25 pb-16 lg:py-0 lg:pt-20 px-2"
>
  <h1
    class="text-4xl sm:text-5xl lg:text-7xl font-extrabold text-gray-900 tracking-tight text-center py-8 leading-tight"
  >
    Hello, I am <br /><span class="text-[var(--brand-dark)]">Abhishek Ojha</span
    >
  </h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-center w-full">
    <div
      class="lg:col-span-1 order-1 lg:order-1 flex flex-col justify-center items-center lg:items-start text-center lg:text-left"
    >
      <LeftInfoBlock />
    </div>

    <div class="lg:col-span-1 order-2 lg:order-2 flex flex-col items-center">
      <CentralImage />
    </div>

    <div
      class="lg:col-span-1 order-3 lg:order-3 flex justify-center lg:justify-end -mt-10 lg:-mt-0"
    >
      <ContactCard />
    </div>
  </div>
</section>
