---

---

<div class="flex flex-col items-center lg:items-start space-y-6">
  <div class="flex items-center mb-0">
    <span class="h-2 w-2 rounded-full bg-green-500 mr-2"></span>
    <p class="text-gray-600 dark:text-gray-400">Always being passionate</p>
  </div>
  <p
    class="text-xl text-gray-800 dark:text-gray-200 max-w-sm font-medium text-center lg:text-left"
  >
    Software Developer with a passion for innovation and creating solutions.
  </p>
  <a
    href="/ABHISHEKH_OJHA.pdf"
    download="ABHISHEKH_OJHA.pdf"
    class="font-medium py-2 px-8 rounded-lg text-[var(--brand-dark)] dark:text-gray-100 bg-[var(--brand-light-trans)] dark:bg-white/10 shadow-md shadow-black/10 backdrop-blur-xs transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[var(--brand-dark)] text-base"
  >
    My Resume
  </a>
</div>
