---
import SkillGrid from "./SkillGrid.jsx";
---

<section id="skills" class="pb-16 md:pb-24">
  <div class="container mx-auto px-4">
    <div
      class="mb-16 md:mb-24 flex flex-col justify-center items-center mx-auto"
    >
      <h2
        class="text-4xl sm:text-5xl lg:text-6xl font-extrabold text-gray-900 tracking-tight"
      >
        Technologies I Use
      </h2>
    </div>

    <SkillGrid />
  </div>
</section>
