@import "tailwindcss";
:root{
  --red:#ff3b3b;
  --black:#000;
}
.mainLayout {
  display: grid;
  grid-template-columns: 60px 1fr;
  /* height: calc(100vh - 92px); */
}
.heroSection {
  height: 100%;
}
body {
  background-image: url("/bg.jpg");
  background-size: cover;
}


@media (max-width: 768px) {
  .mainLayout {
    grid-template-columns: 40px 1fr;
  }
}
