@import "tailwindcss";
:root {
  --red: #ff3b3b;
  --black: #000;
}
.mainLayout {
  display: grid;
  grid-template-columns: 60px 1fr;
  /* height: calc(100vh - 92px); */
}
.heroSection {
  height: 100%;
}
body {
  background: #e9e9e9;
  background-size: cover;
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.background img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .mainLayout {
    grid-template-columns: 40px 1fr;
  }
}
