<div class="fixed w-full top-0 z-50 px-4">
  <div class="container">
    <header
      class="flex flex-col md:flex-row items-center justify-between gap-4 py-4"
    >
      <nav
        class="flex items-center gap-4 md:gap-6 rounded-full py-2 px-6 text-[var(--brand-dark)] bg-[var(--brand-light-trans)] backdrop-blur-xs shadow-lg shadow-black/10 font-medium"
      >
        <a
          href="#about"
          class="transition-opacity hover:opacity-80 focus-visible:opacity-80 focus-visible:outline-none"
          >About</a
        >
        <a
          href="#projects"
          class="transition-opacity hover:opacity-80 focus-visible:opacity-80 focus-visible:outline-none"
          >Projects</a
        >
        <a
          href="#contact"
          class="transition-opacity hover:opacity-80 focus-visible:opacity-80 focus-visible:outline-none"
          >Contact</a
        >
      </nav>

      <div
        class="flex items-center rounded-full py-2 px-8 text-[var(--brand-dark)] bg-[var(--brand-light-trans)] shadow-md shadow-black/10 transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5 backdrop-blur-xs"
      >
        <a
          href="/ABHISHEKH_OJHA.pdf"
          download="ABHISHEKH_OJHA.pdf"
          class="text-base font-medium"
        >
          Resume
        </a>
      </div>
    </header>
  </div>
</div>
